<footer class="footer" id="footer">
    <div class="container">
        <p class="colophon text-center"> read
            <a class="site-link" href="tirkom.thecomicseries.com" target="_blank">tirkom</a>
        </p>
    </div>
</footer>
</body>
</html>