/* 
    fonts 

    f1 "Special Gothic Expanded One", sans-serif;
    f2 "Special Gothic", sans-serif;
*/

* { box-sizing: border-box;}

:root {
    --f1: "Special Gothic Expanded One", sans-serif;
    --f2: "Special Gothic", sans-serif;
    --orange: #f56600;
    --yellow: #fffb1f;
    --white: #fffaff;
    --blue: #0281ca;
    --black: #1c2321;
}

body {
    margin: 0;
    padding: 0;
}

.card-hero-name {
    font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.figure-text {
    background: radial-gradient(
        circle farthest-corner at center center,
        #ccc,
        #333
    ) no-repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.heading {
    margin: 0;
    font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300)));
}

.hero-list-item {
    font-size: 12px;
}

.hero-single-h2 {
    font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.heropower-list-item {
    font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.home-figure {
    margin: 10px auto;
    padding: 10px;
    width: 60%;
}

.home-heading {
    font-size: calc(24px + (96 - 24) * ((100vw - 300px) / (1600 - 300)));
}

.home-img {
    display: block;
    margin: 15px auto;
    box-shadow: 3px 3px 3px var(--white);
}

.main {
    padding: 80px 0;
}

#footer {
    padding: 20px 0;
}

#header {
    padding: 10px 0;
   /* border-bottom: 3px solid var(--blue); */
}