<%- include('../partials/header') %>

<main class="main" id="allPowerMain">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
            <% data.forEach(item => { %>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title card-heading">
                                <%= item.power %>
                            </h2>
                        </div>
                        <div class="card-footer">
                            <p class="card-footer-text">
                                See <a href="/power/pow/<%= item.power %>" class="card-footer-link">heroes</a> with this power!
                            </p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>